*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* 1st Section Start */
.nav{
    border: 1px solid gray;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
 .ln {
     display: none;
 }
 .ln a:hover{
    color: rgb(10, 119, 162);
 }
.ferr{
    display: flex;
    margin-left: 15px;
}
.hero nav{
    display: none;
}
.hero{
    background-image: url("/Illustration/pexels-pixabay-247322.jpg");
    width: 100%;
    height: 550px;
    background-size: 100% 100%;
    color: white;
}
.ftext{
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.ftext p{
    color: white;
}
.ftext a{
    text-decoration: none;
    border: 1px solid gray;
    width: 100px;
    padding: 22px;
    color: white;
}
.ftext a:hover{
    background-color: rgb(10, 119, 162);
    color: black;
}
/* 1st Section End */
/* 2nd Section Start */
.stext{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slist{
    display: flex;
    flex-wrap: wrap;
}
.slist a:hover{
    color: rgb(10, 119, 162);
}
.slist a{
    margin-left: 35px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.simg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sbtn{
    text-align: center;
    width: 320px;
}
/* 2nd Section End */
/* 2rd Section End */
.tbox{
    width: 90%;
    height: 410px;
    background-size: 100% 100%;
    border-radius: 20px;
    margin-left: 15px;
}
.t1{
    background-image: url(./Illustration/5.webp);
}
.t2{
    background-image: url(./Illustration/6.webp);
}
.ttext{
    color: white;
    margin: 50px;
}
.tbtn{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    margin-top: 40px;
    margin-left: 60px;
}
.tbtn:hover{
    background-color: aqua  ;
}
/* 3rd Section End */
/* 4th Section Start */
.fflex{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flogo{
    width: 150px;
    height: 100px;
}
/* 4th Section End */
/* 5th Section Start */

.fitext{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.fitext p{
    margin-left: 25px;
}
.fibox img{
    margin: 5px;
    background-size:cover;
}
.fibox{
    text-align: center;
    width: 90%;
}
.fibox a{
    text-decoration: none;
    color: black;
}
/* 5th Section End */
/* 6th Section Start */
.siimg{
    background-image: url("./Illustration/12.1.jpg");
}
/* 6th Section End */
/* 7th Section Start */
.s1{
    background-image: url("./Illustration/16.jpeg");
}
.s2{
    background-image: url("./Illustration/17.jpeg");
}
.s3{
    background-image: url("./Illustration/18.jpeg");
}
.seven a,h2{
    margin-left: 25px;
    text-decoration: none;
    color: black;
}
/* 7th Section End */
/* 8th Section Start */
.e{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
.eight{
    width: 300px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* 8th Section End */
/* 9th Section Start */
.ni a{
    text-decoration: none;
    color: black;
    margin-left: 25px;
}
.ni{
    width: 200px;
    height: 210px;
}
/* 9th Section End */
/* 10th Section Start */
.ten{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* 10th Section End */
@media(min-width:768px){
    .ln{
        display: none;
    }
    .tbox{
        width: 95%;
    }
    .flogo{
        width: 250px;
    }
    .fibox{
        width: 320px;
    }
    .nine{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .ni{
        width: 260px;
    }
}
@media(min-width:1024px){
    .nav{
        justify-content: space-around;
    }
    .nav:hover{
        background-color: azure;
    }
    .fm{
        display: none;
    }
    .ln {
        display: flex;
        justify-content: space-between;
    }
    li{
        padding-left: 55px;
    }
    .ln a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .hero{
        height: 800px;
    }
    .ftext{
        margin-top: 300px;
    }
    .fibox{
        width: 320px;
    }
    .tbox{
        width: 99%;
        height: 900px;
    }
    .tbtn{
        margin-top: 500px;
    }
    .nine{
        display: flex;
        justify-content: space-around;
    }
    .ni{
        height: 260px;
    }
}